body { padding-top: 50px; }

.banner {
margin-bottom:50px;

}

.banner-inner {
	background-color:#2DCCD3;
}

.marketing {
	margin-top:50px;
}
.logo {
	margin: 0 auto;
}

.logo_border {
	border: 5px solid black;
	background: white;
	padding: 5px;
}

.logo_row {
	height: 300px;
}
.logo_row p, h3 {
	vertical-align: center;
	text-align: center;
}

.logo_row > .col-lg-12 {
	height: 100%;
}